apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: training-gateway
spec:
  gatewayClassName: nginx
  listeners:
    - name: http
      protocol: HTTP
      port: 80
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: echo-route
spec:
  parentRefs:
    - name: training-gateway
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /api/echo-service
      filters:
        - type: URLRewrite
          urlRewrite:
            path:
              type: ReplacePrefixMatch
              replacePrefixMatch: /
      backendRefs:
        - name: echo-server-svc
          port: 80

